$color-background = #474b4c
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #b2bbbe
$color-meta = #b2bbbe
$color-meta-code = #b2bbbe
$color-link = rgba(143, 178, 201, 1)
$color-text = #cdd1d3
$color-accent-3 = #c4cbcf
$color-accent-2 = #c4cbcf
$color-accent-1 = #c4cbcf
$color-quote = #cdd1d3
$highlight = hexo-config("highlight") || "github"
